<div class="centered divbottom">
	Filter by:
	<select ng-model = 'publishersFilter' ng-change = 'filter()' ng-options='element.publisher for element in publishers'>
		 <option value="">--Publisher--</option>
	</select>

</div>
<div class="centered divbottom" style="padding-left:60px">
	
	<select ng-model = 'seriesFilter' ng-change = 'filter()' ng-options='title.name for title in filteredSeries'>
		 <option value="">--Series--</option>
	</select>
</div>


<div class="row">
	<div class="centered">
		<div class="col-md-3" ng-repeat= "element in comicsInPage | limitTo: 12">
			<a href={{"info/"+element.idcomics}}><img style="width:150px;height:225px" src={{element.cover}} class="imagecar"></a>
			<div class="row"><hr></div>
		</div>
	</div>
</div>
<div class="row">
	<div class="centered">
		<nav>
		  <ul class="pagination">
		    <li>
		    	<a ng-hide = "currentPage > 1" class = "disable" aria-label="Previous">
		        	<span aria-hidden="true">&laquo;</span>
		      	</a>
		      <a ng-show = "currentPage > 1"ng-click = "goToPage(currentPage-1)" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    <li ng-repeat= "page in pages"><a href ng-click = "goToPage(page)">{{page}}</a></li>
		    <li>
		      <a ng-hide = "currentPage < pages.length" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		      <a ng-show = "currentPage < pages.length" ng-click = "goToPage(currentPage+1)" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
	</div>
</div>
