
<div clas="row">
  <h1>This week!
  </h1>

</div>
<div class="row">
  <div class="centered">
    <a href="info"><img src="images/batman7.jpg" class="imagecar" ></a>
    <a href="info"><img src="images/scarlet.jpg" class="imagecar"></a>
    <a href="info"><img src="images/batwoman.jpg" class="imagecar"></a>
    <a href="info"><img src="images/ASM1.jpg" class="imagecar"></a>
  </div>
</div>


<div clas="row">
  <img src="images/Logo-Marvel.jpg" class="logos" >

</div>
<div class="row">
  <div class="centered">
    <a href="info"><img src="images/scarlet.jpg" class="imagecar" ></a>
    <a href="info"><img src="images/ASM1.jpg" class="imagecar"></a>
    <a href="info"><img src="images/btmr1.jpg" class="imagecar"></a>
    <a href="info"><img src="images/houseofm.jpg" class="imagecar"></a>


  </div>
</div>

<div clas="row">
  <img src="images/Logo-DC.jpg" class="logos" >

</div>
<div class="row">
  <div class="centered">
    <a href="info"><img src="images/batman7.jpg" class="imagecar"></a>
    <a href="info"><img src="images/aquamanV.jpg" class="imagecar"></a>
    <a href="info"><img src="images/batwoman.jpg" class="imagecar"></a>
    <a href="info"><img src="images/batgirl35.jpg" class="imagecar"></a>
    


  </div>
</div>
<div>
  <br> 
  </div>