
<div clas="row">
  <h1>This week!
  </h1>

</div>
<div class="row">
  <div class="centered">
    <a href="info"><img src="images/scarlet.jpg" class="imagecar" ></a>
    <img src="images/scarlet.jpg" class="imagecar">
    <img src="images/scarlet.jpg" class="imagecar">
    <img src="images/scarlet.jpg" class="imagecar">
  </div>
</div>


<div clas="row">
  <img src="images/Logo-Marvel.jpg" class="logos" >

</div>
<div class="row">
  <div class="centered">
    <img src="images/scarlet.jpg" class="imagecar" ></a>
    <img src="images/scarlet.jpg" class="imagecar">
    <img src="images/scarlet.jpg" class="imagecar">
    <img src="images/scarlet.jpg" class="imagecar">


  </div>
</div>

<div clas="row">
  <img src="images/Logo-DC.jpg" class="logos" >

</div>
<div class="row">
  <div class="centered">
    <img src="images/batwoman.jpg" class="imagecar"></a>
    <img src="images/batwoman.jpg" class="imagecar">
    <img src="images/batwoman.jpg" class="imagecar">
    <img src="images/batwoman.jpg" class="imagecar">
    


  </div>
</div>
<div>
  <br> 
  </div>