<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<div class="row" >
	<div class="col-md-6">
		<h2> Uncanny Avengers #1 (2013)</h2>
		<a href="info"><img class="imagedesc" src="images/scarlet.jpg" ></a>
	</div>
	<div class="col-md-6 divbottom" >
		<button type="button" class="btn-lg btn-primary button-add">Add to collection <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<p class="desc">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non massa quam. Duis vitae velit eget diam sodales ultrices. Donec sit amet efficitur est. Donec vel hendrerit dui, quis laoreet risus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc eu dapibus ex. Nunc volutpat id risus sit amet vulputate. Donec velit ante, venenatis ac fermentum quis, feugiat luctus orci. Pellentesque scelerisque leo est, sit amet tempor nulla mattis quis. Vivamus semper scelerisque lorem ut aliquam. Quisque consectetur, arcu eget finibus rutrum, nunc massa viverra magna, sit amet facilisis diam lacus vel mi. In lorem lacus, bibendum et diam a, ullamcorper euismod massa. Ut lacinia lacus risus, at vestibulum elit pulvinar in. Suspendisse ut augue justo. Duis risus eros, euismod nec blandit sit amet, vestibulum a dui. Cras laoreet augue ligula, ut volutpat enim auctor a.
		</div >
	</p>	
</div>

<div class="row">
	<div class="col-md-12">

		<h2>
			Write a review
		</h2>
		<div class="stars">
			<form action="">
				<input class="star star-5" id="star-5" type="radio" name="star"/>
				<label class="star star-5" for="star-5"></label>
				<input class="star star-4" id="star-4" type="radio" name="star"/>
				<label class="star star-4" for="star-4"></label>
				<input class="star star-3" id="star-3" type="radio" name="star"/>
				<label class="star star-3" for="star-3"></label>
				<input class="star star-2" id="star-2" type="radio" name="star"/>
				<label class="star star-2" for="star-2"></label>
				<input class="star star-1" id="star-1" type="radio" name="star"/>
				<label class="star star-1" for="star-1"></label>
			</form>
		</div>
	</div>
	<div class="col-md-12">
		<div class="panel-body">
			<input type="text" style="height:100px;width:100%;"></input>
			<button type="button" class="btn-lg btn-primary button-submit">Submit</span></button>

		</div>
	</div>


</div>