<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<div class="row" >
	<div class="col-md-6">
		<h2>{{title+" #"+issue}}</h2>
		
	</div>
	<div class="col-md-6 divbottom" >
		<button  ng-hide = "hasComic || !isLogged" type="button" ng-click="addToCollection()" class="btn-lg btn-primary button-add">Add to collection <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
		<button  ng-show = "hasComic && isLogged" type="button" ng-click="addToCollection()" class="btn-lg btn-danger button-add">Remove from collection <span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<img class="imagedesc" src="{{cover}}" ></img>
	</div>
	<div class="col-md-6">
		<p class="desc">{{description}}</p>
	</div >
</div>

<div ng-show = "isLogged" class="row">
	<div class="col-md-12">

		<h2>
			Write a review
		</h2>
		<div class="stars">
			<form action="">
				<input ng-model = "review.score" class="star star-5" id="star-5" type="radio" value = 5 name="star"/>
				<label class="star star-5" for="star-5"></label>
				<input ng-model = "review.score" class="star star-4" id="star-4" type="radio" value = 4 name="star"/>
				<label class="star star-4" for="star-4"></label>
				<input ng-model = "review.score" class="star star-3" id="star-3" type="radio" value = 3 name="star"/>
				<label class="star star-3" for="star-3"></label>
				<input ng-model = "review.score" class="star star-2" id="star-2" type="radio" value = 2 name="star"/>
				<label class="star star-2" for="star-2"></label>
				<input ng-model = "review.score" class="star star-1" id="star-1" type="radio" value = 1 name="star"/>
				<label class="star star-1" for="star-1"></label>
			</form>
		</div>
	</div>
	<div class="col-md-12">
		<div class="panel-body">
			<input ng-model = "review.content" type="text" style="height:100px;width:100%;"></input>
			<button type="button" ng-click = "addReview()" class="btn-lg btn-primary button-submit">Submit</span></button>
		</div>
	</div>
</div>
<div class = "col-md-12">
	<div ng-repeat="review in reviews">
		{{review.content}}
	</div>
</div>

