<div class="container centered	">
	<div class="row">


		<h2 class="text-center">Login</h2>
		<div class="centered" style="padding-left:60px">
		<form  method="post" name="loginForm">

			<div class="form-group">
				<input  type="text" name="email"
				ng-model="mail" placeholder="Email" required autofocus>
			</div>

			<div class="form-group">
				<input  type="password" name="password"
				ng-model="password" placeholder="Password" required>
			</div>

			<button type="submit" class="btn btn-primary" ng-click="login()">Login
			</button>

		</div>
		</form>


	</div>
</div>

