<div class="container centered">
	

	
	<div class="center-form panel">
		<form method="post" ng-submit="signup()" name="signupForm">

			<h2 class="text-center">Sign up</h2>

			<div class="form-group"ng-class="{ 'has-success' : signupForm.email.$valid && signupForm.email.$dirty, 'has-error' : signupForm.email.$invalid && signupForm.email.$dirty }">
			</div>
			<input class="form-control " type="email" id="email" name="email" ng-model="email" placeholder="Email" required autofocus>



			<div class="form-group" ng-class="{ 'has-success' : signupForm.password.$valid && signupForm.password.$dirty, 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }">
			</div>

			<input class="form-control" type="password" name="password" ng-model="password" placeholder="Password" required>

			
			<div class="form-group" ng-class="{ 'has-success' : signupForm.confirmPassword.$valid && signupForm.confirmPassword.$dirty, 'has-error' : signupForm.confirmPassword.$invalid && signupForm.confirmPassword.$dirty }">
			</div>
			<input class="form-control" type="password" name="confirmPassword" ng-model="confirmPassword" repeat-password="password" placeholder="Confirm Password" required>

			<button type="submit" ng-disabled="signupForm.$invalid"
			class="btn btn-lg btn-block btn-primary">Create Account</button>

		</form>
		
	</div>
</div>