<div class="container centered	">
	<div class="row">


		<h2 class="text-center">Sign up</h2>
		<div class="centered" style="padding-left:60px">
			<form  method="post" name="signupForm">
				<div class="form-group">
					<input  type="text" name="email" ng-model="mail" placeholder="Email" required autofocus>
				</div>
				<div class="form-group">
					<input  type="password" name="Password"
					ng-model="password" placeholder="Password" required>
				</div>
				<div class="form-group">
					<input  type="password" name="Cpassword"
					ng-model="Cpassword" placeholder="Confirm Password" required>
				</div>

				<button  ng-disabled="signupForm.$invalid" type="submit" class="btn btn-primary" ng-click="signup()">Sign Up
				</button>

			</div>
		</form>


	</div>
</div>

