
<div class="centered">

	<div class="row">
		
		<div class="col-md-4">
			<h2>{{user}}</h2>
		</div>
		
	</div>


	<div class="row">
		<div class="tabbable tabs-below">
			<ul class="nav nav-pills">
				<li ng-class="{active: selectedTab == 1}" class="active" >
					<a href="#" ng-click="selectedTab = 1;" onclick="return false;" >My collection</a>
				</li>
				<li ng-class="{active: selectedTab == 2}">
					<a href="#" ng-click="selectedTab = 2;" onclick="return false;">Education</a>
				</li>
				
			</ul>
				<br>
			<div class="tab-content" ng-show="selectedTab == 1">
				<div class="col-md-3" ng-repeat="comic in comics">
					<a href={{"info/"+comic.idcomics}}><img style="width:150px;height:225px" src={{comic.cover}} class="imagecar"></a>
					<div class="row"><hr></div>
				</div>



			</div>

			<div class="tab-content" ng-show="selectedTab == 2">
				2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>

			
		</div>

	</div>
