
<div class="centered">

	<div class="row">
		
		<div class="col-md-4">
			<h2>{{user}}</h2>
		</div>
		
	</div>


	<div class="row" >
		<div class="tabbable tabs-below">
			<ul class="nav nav-pills">
				<li ng-class="{active: selectedTab == 1 }"  >
					<a href="#" ng-click="selectedTab = 1;" onclick="return false;" >My collection</a>
				</li>
				<li ng-class="{active: selectedTab == 2}">
					<a href="#" ng-click="selectedTab = 2;" onclick="return false;">Reviews</a>
				</li>
				
			</ul>
			<br>
			<div class="tab-content" ng-show="selectedTab == 1">
				<div class="col-md-3" ng-repeat="comic in comics">
					<a href={{"info/"+comic.idcomics}}><img style="width:150px;height:225px" src={{comic.cover}} class="imagecar"></a>
					<div class="row"><hr></div>
				</div>



			</div>

			<div class="tab-content" ng-show="selectedTab == 2">

				<div ng-repeat="review in reviews">
						<div class="col-md-3">
					<a href={{"info/"+review.idcomics}}><img style="width:150px;height:225px" src={{review.cover}} class="imagecar"></a>
				</div>
					<p>Score: {{review.score}}</p>
					<br>
					<p>{{review.content}}</p>
					<div class="row"></div>
					<br>
				</div>


			</div>

			
		</div>

	</div>
