
<div class="centered">

	<div class="row">
		<div class="col-md-2">
			<img src="images/pikawhat.jpg" class="imagecar" >
		</div>
		<div class="col-md-4">
			<h2>{{user}}</h2>
		</div>
		<div class="col-md-6 divbottom" >
			<!--<button type="button" class="btn btn-default button-submit">User Settings<span aria-hidden="true"></span></button>-->
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">
			<h2>Badges</h2>	
		</div>
		<div class="col-md-4 divbottom" >
			<button type="button" class="btn btn-default button-submit">View all badges<span aria-hidden="true"></span></button>
		</div>
		<div class="col-md-12">
			<a href="info"><img src="images/scarlet.jpg" class="imagecar" ></a>
			<a href="info"><img src="images/batwoman.jpg" class="imagecar"></a>
			<a href="info"><img src="images/SquirrelGirl3.jpg" class="imagecar"></a>
			<a href="info"><img src="images/Batman7.jpg" class="imagecar"></a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">
			<h2>Recently added comics</h2>	
		</div>
		<div class="col-md-4 divbottom" >
			<button type="button" class="btn btn-default button-submit">View all comics<span aria-hidden="true"></span></button>
		</div>
		<div class="col-md-12">
			<a href="info"><img src="images/scarlet.jpg" class="imagecar" ></a>
			<a href="info"><img src="images/batwoman.jpg" class="imagecar"></a>
			<a href="info"><img src="images/SquirrelGirl3.jpg" class="imagecar"></a>
			<a href="info"><img src="images/Batman7.jpg" class="imagecar"></a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">
			<h2>Recently reviewed comics</h2>	
		</div>
		<div class="col-md-4 divbottom" >
			<button type="button" class="btn btn-default button-submit">View all reviews<span aria-hidden="true"></span></button>
		</div>
		<div class="col-md-12">
			<a href="info"><img src="images/scarlet.jpg" class="imagecar" ></a>
			<a href="info"><img src="images/batwoman.jpg" class="imagecar"></a>
			<a href="info"><img src="images/SquirrelGirl3.jpg" class="imagecar"></a>
			<a href="info"><img src="images/Batman7.jpg" class="imagecar"></a>
		</div>
	</div>

</div>